:root {
  font-family: 'Space Mono', monospace;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: #ffffff;
}

body {
  min-width: 320px;
}

button,
input,
textarea,
select {
  font: inherit;
}
